.DS_Store
node_modules
/build
build/
generated/
/.svelte-kit
/package
.env
.env.*
!.env.example
bun.lockb
yarn.lock
package-lock.json
.code-workspace

# mac
._*
.DS_Store

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local